/*-@variablse------------------------------------*/
/*--@variablse------------------------------------*/
/*--MIXINS----------------------------------------*/
/*--END_MIXINS----------------------------------------*/
/*-GENERAL------------------------------------*/
*,
::before,
::after {
  padding: 0;
  marging: 0;
  box-sizing: border-box;
}
svg {
  width: 0;
  height: 0;
}
.content {
  text-align: left;
}
.h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 27px;
  color: #262626;
}
.describe {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
}
.button {
  background-color: #ff6033;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 55px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  color: #ffffff;
}
a {
  text-decoration: none;
}
/*-END_GENERAL------------------------------------*/
.header {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  background: url(../img/header-bg.png) 60% 60%;
  background-size: cover;
}
.header_conteiner {
  width: 1170px;
  margin: auto;
  padding-top: 60px;
}
.header_nav {
  display: flex;
  justify-content: space-between;
}
.header_logo {
  font: 50px/1px 'Pacifico', cursive;
  color: #262626;
}
.nav {
  text-align: right;
  margin-left: 220px;
  width: 70%;
}
.nav_link {
  display: inline-block;
  color: #262626;
  text-transform: uppercase;
  font: 700 16px/1px 'Raleway';
  margin-left: 40px;
}
.nav_link::before {
  content: "";
  display: block;
  width: 0%;
  margin-bottom: 10px;
  height: 4px;
  background-color: #ff6033;
}
.nav_link:hover:before {
  width: 100%;
}
.header_info {
  width: 370px;
  height: 165px;
  margin-top: 120px;
}
.header_title {
  font: 700 60px/60px 'Raleway', sans-serif;
}
.header_text {
  font: 300 17px/24px 'Raleway', sans-serif;
  margin-top: 30px;
}
.header_btn {
  width: 200px;
  height: 55px;
  margin-top: 35px;
}
.header_btn1 {
  width: 200px;
  height: 55px;
  background-color: #ff6033;
  font: 300 20px/1px 'Raleway';
  border: none;
  box-shadow: 0 0 2px;
}
.header_scroll {
  width: 30px;
  height: 40px;
  margin: 90px auto 50px;
}
.about {
  height: 700px;
  color: white;
  background: #00b2b2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about_info {
  margin-left: 80px;
}
.about_title {
  font: 700 80px/95px 'Raleway';
}
.about_text {
  width: 500px;
  font: 300 17px/24px 'Raleway';
}
.about_text + .about_text {
  margin-top: 25px;
}


.services {
    height: 790px;
    min-width: 980px;
    background-color: #70bfff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.services_item {
    width: 50%;
    padding-top: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10%
}
.servises_button {
    margin: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    width: 400px;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #262626;
    text-align: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5)
}
.servises_button:hover {
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5)
}
.button_name {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
.servises_svg {
    width: 100px;
    height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 1px solid #9d9d9d;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}
.bucket {
    width: 47px;
    height: 44px
}
.carrot {
    width: 55px;
    height: 55px
}
.hand {
    width: 55px;
    height: 49px
}
.world {
    width: 54px;
    height: 54px
}
.services_title {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 60px;
    min-width: 544px
}
.services_title--h1 {
    color: white;
    position: absolute;
    left: -83px;
    top: 290px;
    font-size: 90px;
    font-weight: 800
}
<<<<<<< HEAD
/*-GALLERY-----------------------------------------*/

.button__blue {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 55px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin: 50px auto;
    background-color: #5585a2;
    color: #ffffff;
}
.gallery {
    width: 100%;
    background-color: #ffe92f;
    font-family: 'Raleway', sans-serif;
    color: #262626;
    padding-bottom: 70px;
}
.gallery .title {
    padding-top: 100px;
    margin-bottom: 29px;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}
.gallery .describe {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #262626;
    text-align: center;
    margin-bottom: 41px;
}
.gallery .gallery_img {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1170px;
    height: 980px;
}
.gallery .gallery_img .gallery_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery .gallery_img .gallery_container__main {
    height: 550px;
}
.gallery .gallery_img .gallery_container__main .gallery_item__big {
    height: 550px;
    width: 770px;
}
.gallery .gallery_img .gallery_container__small {
    margin-left: 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery .gallery_img .gallery_container__small .gallery_item__small {
    height: 260px;
    width: 370px;
}
.gallery .gallery_img .gallery_item {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.gallery .gallery_img .gallery_item:hover {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.gallery .gallery_img .gallery_item__medium {
    height: 400px;
    width: 570px;
}

/*-END_GALLERY-----------------------------------------*/

=======
>>>>>>> 8aaedbf7963201b0e41e3ea87083344c5ed7609b

/*-CONTACT-----------------------------------------*/
.contact {
  background: url(../img/contact_bg.jpg) no-repeat;
  background-size: cover;
  min-height: 980px;
  height: 865px;
  padding: 100px 165px 0;
}
.content__contact {
  max-width: 370px;
  text-align: center;
  margin: 0 auto 40px;
}
.h1_contact {
  font-size: 90px;
}
.h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  color: #262626;
  text-align: left;
  margin: 0;
  padding: 0;
}
.adress {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
  text-align: left;
  margin: 0 0 15px 0;
  padding: 0;
}
.contact_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact_item {
  width: 500px;
}
.contact_item__adress {
  width: 317px;
  margin-right: 200px;
}
.form_input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 14px;
  background-color: rgba(0, 196, 196, 0.5);
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
}
.form_input:focus {
  background-color: #00c4c4;
  border: none;
  outline: 0;
}
.form_input__message {
  height: 250px;
  padding: 0 0 210px 20px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
/*-END_CONTACT-----------------------------------------*/
/*-FOOTER-----------------------------------------*/
.footer {
  background: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 980px;
  min-height: 90px;
  padding: 0 165px;
  overflow: hidden;
}
.logo {
  width: 65px;
  height: 27px;
  fill: #b9b9b9;
}
.accent {
  color: #ff2b58;
}
.p_footer {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #b9b9b9;
}
/*-END_FOOTER-----------------------------------------*/
