*, :after, :before {
    padding: 0;
    marging: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
svg {
    width: 0;
    height: 0
}
.content {
    text-align: left
}
.h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 27px;
    color: #262626
}
.describe {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #262626
}
.button {
    background-color: #ff6033;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 55px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    color: #ffffff
}
