/*-@variablse------------------------------------*/
/*--@variablse------------------------------------*/
/*--MIXINS----------------------------------------*/
/*--END_MIXINS----------------------------------------*/
/*-GENERAL------------------------------------*/
*,
::before,
::after {
  padding: 0;
  marging: 0;
  box-sizing: border-box;
}
svg {
  width: 0;
  height: 0;
}
.content {
  text-align: left;
}
.h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 27px;
  color: #262626;
}
.describe {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
}
.button {
  background-color: #ff6033;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 55px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  color: #ffffff;
}
a {
  text-decoration: none;
}
/*-END_GENERAL------------------------------------*/
.header {
  width: 100vw;
  height: 100vh;
  min-width: 900px;
  background: url(../img/header-bg.png) 60% 60%;
  background-size: cover;
}
.header_conteiner {
  width: 1170px;
  margin: auto;
  padding-top: 60px;
}
.header_nav {
  display: flex;
  justify-content: space-between;
}
.header_logo {
  font: 50px/1px 'Pacifico', cursive;
  color: #262626;
}
.nav {
  text-align: right;
  margin-left: 220px;
  width: 70%;
}
.nav_link {
  display: inline-block;
  color: #262626;
  text-transform: uppercase;
  font: 700 16px/1px 'Raleway';
  margin-left: 40px;
}
.nav_link::before {
  content: "";
  display: block;
  width: 0%;
  margin-bottom: 10px;
  height: 4px;
  background-color: #ff6033;
}
.nav_link:hover:before {
  width: 100%;
}
.header_info {
  width: 370px;
  height: 165px;
  margin-top: 120px;
}
.header_title {
  font: 700 60px/60px 'Raleway', sans-serif;
}
.header_text {
  font: 300 17px/24px 'Raleway', sans-serif;
  margin-top: 30px;
}
.header_btn {
  width: 200px;
  height: 55px;
  margin-top: 35px;
}
.header_btn1 {
  width: 200px;
  height: 55px;
  background-color: #ff6033;
  font: 300 20px/1px 'Raleway';
  border: none;
  box-shadow: 0 0 2px;
}
.header_scroll {
  width: 30px;
  height: 40px;
  margin: 90px auto 50px;
}
.about {
  height: 700px;
  color: white;
  background: #00b2b2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about_info {
  margin-left: 80px;
}
.about_title {
  font: 700 80px/95px 'Raleway';
}
.about_text {
  width: 500px;
  font: 300 17px/24px 'Raleway';
}
.about_text + .about_text {
  margin-top: 25px;
}
/*__*/
.services {
  height: 790px;
  min-width: 980px;
  background-color: #70bfff;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.services_item {
  width: 50%;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 10%;
}
.servises_button {
  margin: 10px 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 400px;
  height: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: #262626;
  font-weight: 700;
  line-height: 20px;
  color: 27px;
  color: #262626;
  text-align: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.servises_button:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.button_name {
  flex-grow: 1;
}
.servises_svg {
  width: 100px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #9d9d9d;
  flex-shrink: 0;
}
.bucket {
  width: 47px;
  height: 44px;
}
.carrot {
  width: 55px;
  height: 55px;
}
.hand {
  width: 55px;
  height: 49px;
}
.world {
  width: 54px;
  height: 54px;
}
.services_title {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-bottom: 60px;
  min-width: 544px;
}
.services_title--h1 {
  color: white;
  position: absolute;
  left: -83px;
  top: 290px;
  font-size: 90px;
  font-weight: 800;
}
/*_______*/
/*-SUBSCRIBE_TO_US------------------------------------*/
.subscribe {
  width: 1500px;
  height: 500px;
  background: url(../img/bg-subscribe.png) center no-repeat;
}
.subscribe_title {
  font: 700 40px/40px 'Raleway', sans-serif;
  color: #262626;
  margin-bottom: 30px;
}
.content_subscribe {
  text-align: left;
  padding-top: 100px;
  margin-left: 165px;
  width: 560px;
}
.subscribe_form {
  width: 770px;
  height: 55px;
  display: flex;
  margin: 30px 0 0 165px;
}
.subscribe_email {
  width: 570px;
  height: 55px;
  border: 1px solid #262626;
  padding-left: 15px;
}
.subscribe_email:placeholder {
  color: #a1a1a1;
  padding-left: 15px;
}
.button_subscribe {
  margin-left: 30px;
}
.button__green {
  background-color: #ff6033;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 55px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  color: #ffffff;
  background-color: #96b92c;
}
/*-BLOG------------------------------------*/
.blog {
  width: 100vw;
  height: 860px;
  background: #b07cf7;
  color: #ffffff;
}
.content_blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.content_title__blog {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 27px;
  color: #262626;
  color: #ffffff;
  text-align: center;
}
.describe__blog {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
  width: 570px;
  text-align: center;
  color: #ffffff;
}
.blog_events {
  width: 1170px;
  height: 315px;
  display: flex;
  margin: 50px auto;
}
.event {
  width: 370px;
  height: inherit;
  position: relative;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.event:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.event__1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url(../img/img1.png);
}
.event__2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 5%, transparent 100%), url(../img/img2.png);
  background-position: bottom;
  margin-left: 30px;
}
.event__3 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 5%, transparent 100%), url(../img/img3.png);
  margin-left: 30px;
}
.event_date {
  background: #4b5059;
  width: 55px;
  height: 60px;
  border-radius: 3px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900px;
  position: absolute;
  text-align: center;
  left: 30px;
  top: 30px;
  opacity: 0.8;
}
.event_title {
  width: 310px;
  position: absolute;
  left: 20px;
  bottom: 60px;
  font: 700 20px/25px 'Raleway', sans-serif;
}
.event_autor {
  position: absolute;
  left: 20px;
  bottom: 25px;
  opacity: 0.8;
}
.blog_btn {
  width: 200px;
  margin: 50px auto;
}
.button__crimson {
  background-color: #ff6033;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 55px;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  color: #ffffff;
  background-color: #f72b3b;
}
/*-CONTACT-----------------------------------------*/
.contact {
  background: url(../img/contact_bg.jpg) no-repeat;
  background-size: cover;
  min-height: 980px;
  height: 865px;
  padding: 100px 165px 0;
}
.content__contact {
  max-width: 370px;
  text-align: center;
  margin: 0 auto 40px;
}
.h1_contact {
  font-size: 90px;
}
.h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  color: #262626;
  text-align: left;
  margin: 0;
  padding: 0;
}
.adress {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  font-weight: 300;
  line-height: 27px;
  color: #262626;
  text-align: left;
  margin: 0 0 15px 0;
  padding: 0;
}
.contact_main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact_item {
  width: 500px;
}
.contact_item__adress {
  width: 317px;
  margin-right: 200px;
}
.form_input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 14px;
  background-color: rgba(0, 196, 196, 0.5);
  border: none;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
}
.form_input:focus {
  background-color: #00c4c4;
  border: none;
  outline: 0;
}
.form_input__message {
  height: 250px;
  padding: 0 0 210px 20px;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #ffffff;
}
/*-END_CONTACT-----------------------------------------*/
/*-FOOTER-----------------------------------------*/
.footer {
  background: #262626;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 980px;
  min-height: 90px;
  padding: 0 165px;
  overflow: hidden;
}
.logo {
  width: 65px;
  height: 27px;
  fill: #b9b9b9;
}
.accent {
  color: #ff2b58;
}
.p_footer {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #b9b9b9;
}
/*-END_FOOTER-----------------------------------------*/
